.expand-modal-overlay {
    position: fixed; /* or 'relative' if you're changing the positioning context */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px; /* Add padding to prevent the close button from touching the edges */
}

.expand-modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 50%;
    width: 100%;
    overflow-y: auto; /* Allow scrolling */
}

.expand-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Baloo 2', cursive; /* Adding Baloo 2 font */
}

.modal-close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.expand-recipe-content {
    width: auto;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;  
    align-items: flex-start;  
}

.expand-recipe-image-modal {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.expand-recipe-details {
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-family: 'Baloo 2', cursive; /* Adding Baloo 2 font */
}

.expand-recipe-section h2 {
    color: #333;
    font-family: 'Baloo 2', cursive; /* Adding Baloo 2 font */
}

.expand-recipe-image-modal {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.expand-recipe-section {
    flex: 1;  
    margin: 0 10px; 
    min-width: 200px;  
}

.expand-recipe-description-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.expand-recipe-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul, ol {
    padding-left: 20px;
}

table {
    width: 100%;  
    border-collapse: collapse;
}

table th, table td {
    text-align: left;
    padding: 8px;
}

table th {
    background-color: #f4f4f4;
}