.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #033232;
  padding-top: 60px; /* Make space for the header */
}

.header {
  position: fixed; /* Fixed at the top */
  top: 0;
  left: 0; /* Ensure header starts from the very left */
  right: 0; /* Ensure header extends to the very right */
  display: flex;
  justify-content: right; /* Adjust content spacing */
  align-items: center; /* Center items vertically */
  padding: 10px 20px;
  box-sizing: border-box; /* Include padding in the element's total width */
  background-color: #033232; /* Same as app background for consistency */
  z-index: 1000; /* Ensures the header is above other content */
}

.header-section {
  margin-left: 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Ensure the first header section doesn't have extra left margin */
.header-section:first-child {
  margin-left: 0;
}

.centered-logo {
  max-width: 512px; /* Adjust based on your logo size */
}

.click-me-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.data-display {
  color: #000000;
  text-align: center;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.settings-container > div {
  width: 100%; /* Ensures each child div takes up the full width */
  display: flex;
  justify-content: center; /* Centers the content of the divs */
}


.settings-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensures the div takes up the full width of its parent */
}

.range{
  height: 80px;
  width: 380px;
  padding: 0 10px 0 10px;
}

.range .slider-value {
  position: relative;
  width: 100%;
  text-align: center; /* Center the text horizontally */
}


.range .slider-value span{
  font-size:  18px;
  font-weight: 600;
  color: #fff;
}

.range .field{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px
}

.range .field .value-left{
  font-size:  18px;
  font-weight: 600;
  color: #fff;
}

.range .field .value-right{
  font-size:  18px;
  font-weight: 600;
  color: #fff;
}

.range .field input{
  height: 3px;
  width: 100%;
  background-color: #858585;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #fff;
}

