.app-layout {
  background-image: url('/public/Background7.jpg'); /* Adjust the path as necessary */
  background-size: cover; /* Cover the entire area of the element */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Instead of height, use min-height */
  background-color: rgb(3, 50, 50);
  width: 100%; /* Ensure it takes the full width */
}

.navbar {
  display: flex;
  justify-content: right;
  width: 100%;
  padding: 10px 20px; /* Adjust padding as needed */
}

.navbar-section {
  padding: 10px;
  margin-right: 10px;
  display: flex;
}

.app-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 100vh; /* Instead of height, use min-height */
  flex: 1; /* This will make app-content grow to fill available space */
}

.left-section {
  margin-left: -60px; /* Moves left section 50px to the left */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.right-section {
  margin-right: -60px; /* Moves right section 50px to the right */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.border-box {
  /*background-color: rgba(3, 50, 50, 0.9); /* Semi-transparent background */
  background: radial-gradient(circle, rgba(65, 22, 0, 0.8), rgb(43, 0, 44));
  backdrop-filter: blur(5px); /* Blurred background */
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.6), 0 20px 20px rgba(0, 0, 0, 0.6); /* Adds a subtle shadow */
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  color: #fff;
  font-size: xx-large;
  font-weight: 500;
  font-family: 'Baloo 2', cursive; /* Adding Baloo 2 font */
}

/* Ensure the first header section doesn't have extra left margin */
.header-section:first-child {
  margin-left: 0;
}

.click-me-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #FEA236;
  color: white;
  font-family: 'Baloo 2', cursive; /* Adding Baloo 2 font */
  border: none;
  border-radius: 4px;
}

.click-me-button:hover {
  background-color: #F85A00;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensures the div takes up the full width of its parent */
  margin-top: 20px;
}

.range{
  color: #F85A00;
  height: 80px;
  width: 380px;
  padding: 0 10px 0 10px;
}

/* Adjusting the thumb to align with the new track height */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Removes default WebKit styling */
  appearance: none;
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb, consider adjusting if needed */
  background: #FEA236; /* Background color of the thumb */
  cursor: pointer; /* Cursor on hover */
  border-radius: 10px; /* Rounded corners */
  margin-top: -8px; /* Adjust this value to vertically center the thumb with the track */
}

input[type="range"] {
  -webkit-appearance: none;  /* Removes default styling for WebKit browsers */
  appearance: none;         /* Removes default styling for other browsers */
  width: 100%;              /* Full-width */
  height: 8px;              /* Specified height of the slider */
  background: #FEA236;         /* Background color of the slider */
  outline: none;            /* Removes the outline */
}

/* WebKit-based browsers */
input[type="range"]::-webkit-slider-thumb:hover {
  background: #F85A00; /* New hover color for the thumb */
}

/* WebKit-based browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 4px; /* Adjust this value to make the track thinner */
  background-color: #FEA236; /* New hover color for the track */
}

/* WebKit-based browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 4px; /* Adjust this value to make the track thinner */
  background-color: #FEA236; /* New hover color for the track */
}

.range .slider-value {
  position: relative;
  width: 100%;
  text-align: center; /* Center the text horizontally */
}

.range .slider-value span{
  font-size:  18px;
  font-weight: 600;
  color: #fff;
}

.range .field{
  color: #F85A00;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px
}

.range .field .value-left{
  font-size:  18px;
  font-weight: 600;
  color: #fff;
}

.range .field .value-right{
  font-size:  18px;
  font-weight: 600;
  color: #fff;
}

.range .field input{
  height: 3px;
  width: 100%;
  background-color: #858585;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #fff;
}

.login-button {
  /* Style your login button as needed */
  display: none;
  padding: 8px 15px;
  background-color: #FEA236; /* Bootstrap primary blue, adjust as needed */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #F85A00; /* Darker blue on hover, adjust as needed */
}

.app-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.centered-logo-container {
  position: relative; /* Establishes a positioning context */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

.spinner-background {
  position: absolute;
  top: 18%; /* May need adjustment if scaling changes aspect ratios */
  width: 40vw; /* 80% of the viewport width */
  height: auto; /* Maintain aspect ratio */
  z-index: 0;
}

.spinner {
  position: relative;
  width: 32vw; /* 60% of the viewport width */
  height: auto; /* Height auto to maintain aspect ratio */
  z-index: 1;
  transition: transform 0.5s ease;
  top: -1%; /* Adjust if necessary based on screen size */
}

.spinning {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); filter: blur(5px);}
  to { transform: rotate(360deg); filter: blur(5px);}
}
