.app-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Instead of height, use min-height */
  background-color: #033232;
  width: 100%; /* Ensure it takes the full width */
}

.navbar {
  display: flex;
  justify-content: right;
  width: 100%;
  padding: 10px 20px; /* Adjust padding as needed */
}

.navbar-section {
  padding: 10px;
  display: flex;
}

.app-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 100vh; /* Instead of height, use min-height */
  flex: 1; /* This will make app-content grow to fill available space */
}

.left-section, .right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%; /* Adjust width as needed */
}

.header-section {
  margin-left: 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Ensure the first header section doesn't have extra left margin */
.header-section:first-child {
  margin-left: 0;
}

.click-me-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #FEA236;
  color: white;
  border: none;
  border-radius: 4px;
}

.click-me-button:hover {
  background-color: #F85A00;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensures the div takes up the full width of its parent */
  margin-top: 20px;
}

.range{
  height: 80px;
  width: 380px;
  padding: 0 10px 0 10px;
}

.range .slider-value {
  position: relative;
  width: 100%;
  text-align: center; /* Center the text horizontally */
}


.range .slider-value span{
  font-size:  18px;
  font-weight: 600;
  color: #fff;
}

.range .field{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px
}

.range .field .value-left{
  font-size:  18px;
  font-weight: 600;
  color: #fff;
}

.range .field .value-right{
  font-size:  18px;
  font-weight: 600;
  color: #fff;
}

.range .field input{
  height: 3px;
  width: 100%;
  background-color: #858585;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #fff;
}

.login-button {
  /* Style your login button as needed */
  padding: 8px 15px;
  background-color: #FEA236; /* Bootstrap primary blue, adjust as needed */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #F85A00; /* Darker blue on hover, adjust as needed */
}

.app-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.centered-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.centered-logo {
  max-width: 512px; /* Adjust based on your logo size */
  max-height: 512px;
}
